/docs
/exclude
# log and png files I create should be saved in output and not uploaded to the
# repository, but if I accidentally create one in the current directory, I
# also don't want to upload.
*.log
*.png
__pycache__
/input
/output
pylintrc
# copy of parameters.py
psql.py
# copy of parameters.py
ptext.py
test.py
protoc
run_both.sh
